* {
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
    font-family: sans-serif;
    line-height: 3rem;
}

ul li {
    list-style-type: none;
}



ul li a {
    text-decoration: none;
}

body {
    padding: 10px 40px;
}
span {
    color: red;
    font-weight: bold;
    text-transform: uppercase;

  }

p::before {
    content: '-';
}
  
  .mhnCtn {
    margin-bottom: 30px;
    background-color: rgb(212, 212, 212);
    padding: 15px;
    border-radius: 20px;
  }

  header {
    padding: 2rem 0;
    font-size: 30px;
  }

  header ul {
    display: flex;
    justify-content: space-between;
  }

  .mhnQT {
    cursor: pointer;
    background-color: pink;
    border-radius: 90px;
    padding: 0.6rem 1rem;
    transition: 0.4s all;
  }

  .mhnQT:hover {
    background-color: rgb(255, 152, 169);
  }